.search-user {
    form {
        input {
            font-size: 18px;
            padding: 6px 10px 6px 2px;
            border-radius: 6px;
            outline: none;
            border: 1px solid #5b86e5;
        }
    }
}
