.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;

    .home-title {
        font-weight: bold;
        color: #5b86e5;
        font-size: 32px;
    }

    .home-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
}
